## In this file - clean the data by checking for missing values

In [1]:
# clean data and export to a csv file
import pandas as pd
import numpy  as np

In [27]:
# Read data from source location
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [6]:
train.head()

,'ID,Gender,DOB,Lead_Creation_Date,City_Code,City_Category,Employer_Code,Employer_Category1,Employer_Category2,Monthly_Income,...,Contacted,Source,Source_Category,Existing_EMI,Loan_Amount,Loan_Period,Interest_Rate,EMI,Var1,Approved
0,APPC90493171225,Female,23/07/79,15/07/16,C10001,A,COM0044082,A,4.0,2000.0,...,N,S122,G,0.0,NaN,NaN,NaN,NaN,0,0
1,APPD40611263344,Male,07/12/86,04/07/16,C10003,A,COM0000002,C,1.0,3500.0,...,Y,S122,G,0.0,20000.0,2.0,13.25,953.0,10,0
2,APPE70289249423,Male,10/12/82,19/07/16,C10125,C,COM0005267,C,4.0,2250.0,...,Y,S143,B,0.0,45000.0,4.0,NaN,NaN,0,0
3,APPF80273865537,Male,30/01/89,09/07/16,C10477,C,COM0004143,A,4.0,3500.0,...,Y,S143,B,0.0,92000.0,5.0,NaN,NaN,7,0
4,APPG60994436641,Male,19/04/85,20/07/16,C10002,A,COM0001781,A,4.0,10000.0,...,Y,S134,B,2500.0,50000.0,2.0,NaN,NaN,10,0

In [30]:
train.columns

Index([''ID', 'Gender', 'DOB', 'Lead_Creation_Date', 'City_Code',
       'City_Category', 'Employer_Code', 'Employer_Category1',
       'Employer_Category2', 'Monthly_Income',
       'Customer_Existing_Primary_Bank_Code', 'Primary_Bank_Type', 'Contacted',
       'Source', 'Source_Category', 'Existing_EMI', 'Loan_Amount',
       'Loan_Period', 'Interest_Rate', 'EMI', 'Var1', 'Approved'],
      dtype='object')

In [16]:
# Find Percentage of data missing
train.isnull().sum()

'ID                                        0
Gender                                     0
DOB                                       15
Lead_Creation_Date                         0
City_Code                                814
City_Category                            814
Employer_Code                           4018
Employer_Category1                      4018
Employer_Category2                      4298
Monthly_Income                             0
Customer_Existing_Primary_Bank_Code     9391
Primary_Bank_Type                       9391
Contacted                                  0
Source                                     0
Source_Category                            0
Existing_EMI                              51
Loan_Amount                            27709
Loan_Period                            27709
Interest_Rate                          47437
EMI                                    47437
Var1                                       0
Approved                                   0
dtype: int64

In [17]:
train['Loan_Amount'].isnull().sum()

27709

In [31]:
print('Percentage of data missing in Loan_Amount is {}'. format(train['Loan_Amount'].isnull().sum()/len(train['Loan_Amount'])))
print('Percentage of data missing in Loan_Period is {}'. format(train['Loan_Period'].isnull().sum()/len(train['Loan_Period'])))
print('Percentage of data missing in Interest_Rate is {}'. format(train['Interest_Rate'].isnull().sum()/len(train['Interest_Rate'])))
print('Percentage of data missing in EMI is {}'. format(train['EMI'].isnull().sum()/len(train['EMI'])))
print('Percentage of data missing in Primary_Bank_Type is {}'. format(train['Primary_Bank_Type'].isnull().sum()/len(train['Primary_Bank_Type'])))

Percentage of data missing in Loan_Amount is 0.3974724943697732
Percentage of data missing in Loan_Period is 0.3974724943697732
Percentage of data missing in Interest_Rate is 0.6804613199833603
Percentage of data missing in EMI is 0.6804613199833603
Percentage of data missing in Primary_Bank_Type is 0.13470945160873868

## As highest percentage of missing data includes columns Interest_Rate, EMI, Loan_Period, Loan_Amount - dropping these columns for further analysis.
### Reason for dropping: Most of these values are customers future loan details and filling them with mean, zero, etc. would end up in bais model

In [26]:
train = train.drop(['Loan_Amount','Loan_Period','Interest_Rate','EMI'], axis = 1)

In [28]:
# Dropping above fields for test data too.
test = test.drop(['Loan_Amount','Loan_Period','Interest_Rate','EMI'], axis = 1)

## Save clean data as new csv files

In [ ]:
train.to_csv('data_clean.csv')
test.to_csv('test_clean.csv')